DATABASE_URL=postgres://postgres:dev@localhost:5433/tasks
SUPABASE_URL=https://sjpfaaaaytmulmngthex.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqcGZhYWFheXRtdWxtbmd0aGV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4OTk3NTEsImV4cCI6MjEwMjQ3NTc1MX0.V6OdN_cLkeHVVFAsSfAAK-n8ZRiAdvwM_4HGjt43bio
PORT=3000